main {
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

main > * {
    margin: 20px;
}

.subtitulo {
    margin-top: 100px;
    width: 100% !important;
    text-align: center;
    font-size: 30px;

    background-color: rgba(206, 105, 33, 0.4);
    border: 3px solid rgba(206, 105, 33, 0.8);
    border-radius: 30px;

    border-top-right-radius: 0px;
    border-bottom-left-radius: 0px;
}

.descripcion {
    padding: 10px;
    width: 100%;

    font-size: 20px;
}

.por-categoria {
    width: 100%;

    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

button {
    font-size: 16px;
    font-style: italic;

    height: 60px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;

    border-radius: 15px;
    border: none;

    border-bottom: 3px solid rgb(52, 52, 52);
    border-right: 3px solid rgb(52, 52, 52);
}

button.selection:hover {
    height: 80px;
}

button.alet-button:hover {
    width: 35%;
    background-color: rgb(183, 190, 254);
}

.selection {
    transition: height ease-in-out 500ms;

    width: 12%;
    padding: 10px;
    display: inline-block;
    margin: 4px 2px;
    margin-top: 10px;
}

.alet-button {
    transition: width 500ms;
    background-color: white;

    width: 20%;
}

.libro {
    width: 100%;
    height: 500px;
    margin-top: 10px;

    display: flex;
}

img {
    width: 30%;
    border: 5px solid black; 

    border-radius: 35px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
}

.contenido {
    width: 70%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.info {
    text-align:  center;
    font-size: 30px;
    width: 100%;
    margin: 10px;
    font-style: italic;
}

button.accion:hover {
    height: 70px;
}

.button-compra {
    width: 100%;

    display: flex;
    margin-top: 50px;

    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}


.accion {
    transition: height 500ms;
    width: 300px;
}

#prueba {
    font-size: 25px;
}